:root {
  --bg-color: #111827;
  --typewriterSpeed: 6s;
  --typewriterCharacters: 24;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background: #111827;
  --nav-load-time: 700ms;
  --nav-link-load-time: 900ms;
  --article-load-delay: calc(var(--nav-load-time) + var(--nav-link-load-time));
}

.container {
  width: 100%;
}

a {
  text-decoration: none;
}

body p {
  max-width: 600px;
  margin: 20px auto;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.main-heading::before {
  background: #111827;
  animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

.main-heading::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards, blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.subtitle {
  width: 100%;
  color: hsla(0deg, 0%, 0%, 0.7);
  font-size: 2rem;
  font-weight: 400;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes nav-link-load {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes nav-first-link-load {
  0% {
    transform: translateX(-1000%);
    -webkit-transform: translateX(-1000%);
    -moz-transform: translateX(-1000%);
    -ms-transform: translateX(-1000%);
    -o-transform: translateX(-1000%);
  }
  90% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes nav-last-link-load {
  0% {
    transform: translateX(1000%);
  }
  90% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
.nav-wrapper {
  animation: article-load 2000ms ease-in-out var(--article-load-delay);
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}

.column {
  animation: article-load 2000ms ease-in-out calc(var(--article-load-delay) + 200ms);
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}

@keyframes article-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.footer {
  background-color: rgba(255, 255, 255, 0.2666666667);
  color: rgb(254, 253, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.logo {
  width: 50px;
  height: 50px;
  animation-name: nav-link-load;
  animation-duration: var(--nav-link-load-time);
  animation-timing-function: ease-in;
  animation-delay: var(--nav-load-time);
  animation-fill-mode: forwards;
  transform: scale(0);
}

nav {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2666666667);
  color: white;
  animation: nav-load var(--nav-load-time) ease-in-out;
}

nav ul {
  margin: 0;
  display: flex;
  justify-content: center;
}

nav li {
  list-style: none;
  padding: 10px;
  margin: 0 10px;
  animation-name: nav-link-load;
  animation-duration: var(--nav-link-load-time);
  animation-timing-function: ease-in-out;
  animation-delay: var(--nav-load-time);
  animation-fill-mode: forwards;
  transform: scale(0);
}

nav li:first-child {
  animation-name: nav-first-link-load;
  transform: translateX(-1000%);
}

nav li:last-child {
  animation-name: nav-last-link-load;
  transform: translateX(1000%);
}

nav li:hover {
  background-color: rgba(255, 255, 255, 0.2666666667);
}

nav a {
  color: inherit;
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.main-heading {
  font-size: 4em;
  position: relative;
  font-family: "Source Code Pro", monospace;
  color: rgb(254, 253, 255);
  position: relative;
  width: max-content;
}

.main-heading::before,
.main-heading::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.subtitle {
  font-size: 2em;
  color: rgb(254, 253, 255);
}

.nav-wrapper {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-gap: 10px;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  padding: 0 20px;
}

.card {
  padding: 0 5px;
}

.nav-image {
  width: 100%;
  aspect-ratio: 16/9;
  border: 2px solid rgb(0, 230, 77);
}

.card {
  box-shadow: 0px 0px 24px 3px rgba(0, 0, 0, 0.4);
}

.nav-button {
  padding: 1em;
}

.btn {
  width: 90%;
  justify-content: center;
  padding: 2% 10%;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .main-heading {
    font-size: 1.2em;
  }
  .subtitle {
    font-size: 0.88em;
  }
  .social {
    flex-direction: column;
    justify-content: center;
  }
  .grid-row {
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }
  .icons {
    flex-wrap: wrap;
    gap: 50px;
  }
}
@media screen and (min-width: 481px) and (max-width: 991px) {
  .main-heading {
    font-size: 1.9em;
  }
  .subtitle {
    font-size: 1.2em;
  }
  .grid-row {
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
  .nav-wrapper {
    flex-direction: column;
  }
}
.social {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  animation: article-load 1000ms ease-in-out calc(var(--article-load-delay) + 200ms);
  animation-fill-mode: both;
  animation-delay: 1s;
  transform: translateY(-20px);
}

.icons {
  display: flex;
  justify-content: center;
}

.icons a {
  margin: 0 25px;
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
}

.icons a .layer {
  width: 55px;
  height: 55px;
  transition: transform 0.3s;
}

.icons a:hover .layer {
  transform: rotate(-35deg) skew(20deg);
}

.icons a .layer span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: all 0.3s;
}

.icons a .layer span.fab {
  font-size: 30px;
  line-height: 55px;
  text-align: center;
}

.icons a:hover .layer span:nth-child(1) {
  opacity: 0.2;
}

.icons a:hover .layer span:nth-child(2) {
  opacity: 0.4;
  transform: translate(5px, -5px);
}

.icons a:hover .layer span:nth-child(3) {
  opacity: 0.6;
  transform: translate(10px, -10px);
}

.icons a:hover .layer span:nth-child(4) {
  opacity: 0.8;
  transform: translate(15px, -15px);
}

.icons a:hover .layer span:nth-child(5) {
  opacity: 1;
  transform: translate(20px, -20px);
}

.icons a:nth-child(1) .layer span,
.icons a:nth-child(1) .text {
  color: #4267b2;
  border-color: #4267b2;
}

.icons a:nth-child(2) .layer span,
.icons a:nth-child(2) .text {
  color: #1da1f2;
  border-color: #1da1f2;
}

.icons a:nth-child(3) .layer span,
.icons a:nth-child(3) .text {
  color: #e1306c;
  border-color: #e1306c;
}

.icons a:nth-child(4) .layer span,
.icons a:nth-child(4) .text {
  color: #2867b2;
  border-color: #2867b2;
}

.icons a:nth-child(5) .layer span,
.icons a:nth-child(5) .text {
  color: #ff0000;
  border-color: #ff0000;
}

.icons a:hover:nth-child(1) .layer span {
  box-shadow: -1px 1px 3px #4267b2;
}

.icons a:hover:nth-child(2) .layer span {
  box-shadow: -1px 1px 3px #1da1f2;
}

.icons a:hover:nth-child(3) .layer span {
  box-shadow: -1px 1px 3px #e1306c;
}

.icons a:hover:nth-child(4) .layer span {
  box-shadow: -1px 1px 3px #2867b2;
}

.icons a:hover:nth-child(5) .layer span {
  box-shadow: -1px 1px 3px #ff0000;
}

.icons a .text {
  position: absolute;
  left: 50%;
  bottom: -5px;
  opacity: 0;
  font-weight: 500;
  transform: translateX(-50%);
  transition: bottom 0.3s ease, opacity 0.3s ease;
}

.icons a:hover .text {
  bottom: -35px;
  opacity: 1;
}

button {
  position: relative;
  height: 60px;
  width: 200px;
  border: none;
  outline: none;
  color: white;
  background: #111;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.2666666667);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

button:before {
  position: absolute;
  content: "";
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border-radius: 5px;
  z-index: -1;
  opacity: 0;
  filter: blur(5px);
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  background-size: 400%;
  transition: opacity 0.3s ease-in-out;
  animation: animate 20s linear infinite;
}

button:hover:before {
  opacity: 1;
}

button:hover:active {
  background: none;
}

button:hover:active:before {
  filter: blur(2px);
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
#scroll-btn {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 60px;
  text-indent: -9999px;
  background-color: #3498db;
  display: none;
}

#scroll-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0px;
  width: 0px;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}

#scroll-btn:hover {
  background-color: #e74c3c;
  opacity: 1;
  filter: "alpha(opacity=100)";
}

/*# sourceMappingURL=styles.css.map */
