:root {
    --bg-color: #111827;
    --typewriterSpeed: 6s;
    --typewriterCharacters: 24;
}

$primary: rgb(14,112,253);
$secondary: rgb(0,230,77);
$tertiary: rgb(179,179,255);
$font: rgb(254,253,255);
$background: #FFFFFF44;
$background2: #111827;
