@media screen and (min-width: 320px) and (max-width: 480px) {
    html,
    body,
    div {
        width: 100%;
    }
    .main-heading {
        font-size: 1.2em;
    }

    .subtitle {
        font-size: 0.88em;
    }

    .social {
        flex-direction: column;
        justify-content: center;
    }

    .grid-row {
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }

    .icons {
        flex-wrap: wrap;
        gap: 50px;
    }
}

@media screen and (min-width: 481px) and (max-width: 991px) {
    .main-heading {
        font-size: 1.9em;
    }

    .subtitle {
        font-size: 1.2em;
    }

    .grid-row {
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
    .nav-wrapper {
        flex-direction: column;
    }
}
